/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

html, .main {
    background-color: #FAECEC;
}

img {
    padding: 10px;
}

#wish {
    text-decoration: underline;
}

#wish:hover {
    text-decoration: none;
    color: #33ccff;
}

ul {
    list-style-type: none;
}

ul li {
    color: #cc0000;
    text-transform: uppercase;
}

body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #9fd9e6;
    text-align: left;
}

ul {
    margin-top: 235px;
}

ul [class*="word"] {
    margin-right: 10px;
}

ul [class*="word"]:last-child

;
{
    margin-right: 0
;
}
.fancy_title [class*="char"] {
    margin-right: 5px;
    line-height: 100%;
    font-family: helvetica;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
}

.fancy_title [class*="char"]:nth-child(3n+1) {
    background: #ed4a02;
}

.fancy_title [class*="char"]:nth-child(3n+2) {
    background: #93ca31;
}

.fancy_title [class*="char"]:nth-child(3n+3) {
    background: #feb300;
}

.fancy_title:hover [class*="char"]:nth-child(3n+1) {
    -webkit-animation: color-1 1s infinite;
    -moz-animation: color-1 1s infinite;
    -o-animation: color-1 1s infinite;
    animation: color-1 1s infinite;
}

.fancy_title:hover [class*="char"]:nth-child(3n+2) {
    -webkit-animation: color-2 1s infinite;
    -moz-animation: color-2 1s infinite;
    -o-animation: color-2 1s infinite;
    animation: color-2 1s infinite;
}

.fancy_title:hover [class*="char"]:nth-child(3n+3) {
    -webkit-animation: color-3 1s infinite;
    -moz-animation: color-3 1s infinite;
    -o-animation: color-3 1s infinite;
    animation: color-3 1s infinite;
}

@-webkit-keyframes color-1 {
        0% { background: #ed4a02; }
        33% { background: #93ca31; }
        66% { background: #feb300; }
        100% { background: #ed4a02;}
      }
@-moz-keyframes color-1 {
        0% { background: #ed4a02; }
        33% { background: #93ca31; }
        66% { background: #feb300; }
        100% { background: #ed4a02;}
      }
@-webkit-keyframes color-2 {
        0% { background: #93ca31; }
        33% { background: #feb300; }
        66% { background: #ed4a02;}
        100% { background: #93ca31;}
      }
@-moz-keyframes color-2 {
        0% { background: #93ca31; }
        33% { background: #feb300; }
        66% { background: #ed4a02;}
        100% { background: #93ca31;}
      }
@-webkit-keyframes color-3 {
        0% { background: #feb300; }
        33% { background: #ed4a02; }
        66% { background: #93ca31;}
        100% { background: #feb300;}
      }
@-moz-keyframes color-3 {
        0% { background: #feb300; }
        33% { background: #ed4a02; }
        66% { background: #93ca31;}
        100% { background: #feb300;}
      }
